<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Home Montelar</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
          </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                    <a class="nav-link active" href="#" (click)="Dashboard()">
                        <span data-feather="home"></span>
                        Dashboard <span class="sr-only">(current)</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" (click)="salon()">
                        <span data-feather="file"></span>Salon
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" (click)="cocina()">
                        <span data-feather="shopping-cart"></span>Cocina
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" (click)="entrada()">
                        <span data-feather="users"></span>Entrada
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" (click)="habitacion()">
                        <span data-feather="bar-chart-2"></span>Habitacion
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" (click)="bano()">
                        <span data-feather="layers"></span>Baño
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" (click)="buhardilla()">
                        <span data-feather="layers"></span>Buhardilla
                    </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Configuración</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                    <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                    <a class="nav-link" (click)="climatizacion()">
                        <span data-feather="file-text"></span>
                        Climatización
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" (click)="picina()">
                        <span data-feather="file-text"></span>
                        Piscina
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" (click)="iluminacion()">
                        <span data-feather="file-text"></span>
                        Iluminacion
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" (click)="energia()">
                        <span data-feather="file-text"></span>
                        Energia
                    </a>
                    </li>
                </ul>
                </div>
            </nav> 

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" style="background-color: rgb(17, 18, 23);">
                <div *ngIf = "isLoaded()">
                    <div class="d-flex mt-2 mb-3 justify-content-start">
                        <div class="recuadro">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center pl-5 pt-4">
                                    <img id="invert" src="assets/img/energy.svg" width="35" >
                                </div>
                                <div class="text_recuadro align-self-center flex-fill pt-4">Potencia</div>
                            </div>
                            <div class="row pr-2 pl-2 pt-4 pb-4">
                                <div class="text_recuadro_2 align-self-end">{{power}}</div>
                            </div>
                        </div>

                        <div class="recuadro ml-3">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center pl-5 pt-4">
                                    <img id="invert" src="assets/img/energy.svg" width="35" >
                                </div>
                                <div class="text_recuadro align-self-center flex-fill pt-4">Tension</div>
                            </div>
                            <div class="row pr-2 pl-2 pt-4 pb-4">
                                <div class="text_recuadro_2 align-self-end">{{voltage}}</div>
                            </div>
                        </div>

                        <div class="recuadro ml-3">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center pl-5 pt-4">
                                    <img id="invert" src="assets/img/energy.svg" width="35" >
                                </div>
                                <div class="text_recuadro align-self-center flex-fill pt-4">Corriente</div>
                            </div>
                            <div class="row pr-2 pl-2 pt-4 pb-4">
                                <div class="text_recuadro_2 align-self-end">{{current}}</div>
                            </div>
                        </div>

                        <div class="recuadro ml-3">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center pl-5 pt-4">
                                    <img id="invert" src="assets/img/energy.svg" width="35" >
                                </div>
                                <div class="text_recuadro align-self-center flex-fill pt-4">Frecuencia</div>
                            </div>
                            <div class="row pr-2 pl-2 pt-4 pb-4">
                                <div class="text_recuadro_2 align-self-end">{{frequency}}</div>
                            </div>
                        </div>

                        <div class="recuadro ml-3">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center pl-5 pt-4">
                                    <img id="invert" src="assets/img/energy.svg" width="35" >
                                </div>
                                <div class="text_recuadro align-self-center flex-fill pt-4">Factor P.</div>
                            </div>
                            <div class="row pr-2 pl-2 pt-4 pb-4">
                                <div class="text_recuadro_2 align-self-end">{{fp}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex mt-2 mb-3 justify-content-start">
                        <div class="recuadro">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center pl-5 pt-4">
                                    <img id="invert" src="assets/img/ico_temp.svg" width="35" >
                                </div>
                                <div class="text_recuadro align-self-center flex-fill pt-4">Exterior</div>
                            </div>
                            <div class="row pr-2 pl-2 pt-4 pb-4">
                                <div class="text_recuadro_2 align-self-end">{{temp_exterior}}</div>
                            </div>
                        </div>

                        <div class="recuadro ml-3">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center pl-5 pt-4">
                                    <img id="invert" src="assets/img/ico_temp.svg" width="35" >
                                </div>
                                <div class="text_recuadro align-self-center flex-fill pt-4">Salon</div>
                            </div>
                            <div class="row pr-2 pl-2 pt-4 pb-4">
                                <div class="text_recuadro_2 align-self-end">{{temp_salon}}</div>
                            </div>
                        </div>

                        <div class="recuadro ml-3">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center pl-5 pt-4">
                                    <img id="invert" src="assets/img/ico_temp.svg" width="35" >
                                </div>
                                <div class="text_recuadro align-self-center flex-fill pt-4">Entrada</div>
                            </div>
                            <div class="row pr-2 pl-2 pt-4 pb-4">
                                <div class="text_recuadro_2 align-self-end">{{temp_planta_baja}}</div>
                            </div>
                            <div ngbDropdown class="d-inline-block ml-5 mb-4">
                                <button class="btn btn-primary rounded-pill dropdown_all" id="dropdownMenu1" ngbDropdownToggle>{{temp_salon_consigna}}</button>
                                <div class="dropdown-menu" id="options" aria-labelledby="dropdownMenu1">
                                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                                        <button class="dropdown-item text-center" *ngFor="let temp of combo_temp['_temp_number']" (click)="changeTemp(temp,'temp_salon_consigna')">{{temp}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="recuadro ml-3">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center pl-5 pt-4">
                                    <img id="invert" src="assets/img/ico_temp.svg" width="35" >
                                </div>
                                <div class="text_recuadro align-self-center flex-fill pt-4">Buhardilla</div>
                            </div>
                            <div class="row pr-2 pl-2 pt-4 pb-4">
                                <div class="text_recuadro_2 align-self-end">{{temp_buhardilla}}</div>
                            </div>
                            <div ngbDropdown class="d-inline-block ml-5 mb-4">
                                <button class="btn btn-primary rounded-pill dropdown_all" id="dropdownMenu1" ngbDropdownToggle>{{temp_buhardilla_consigna}}</button>
                                <div class="dropdown-menu" id="options" aria-labelledby="dropdownMenu1">
                                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                                        <button class="dropdown-item text-center" *ngFor="let temp of combo_temp['_temp_number']" (click)="changeTemp(temp,'temp_buhardilla_consigna')">{{temp}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tarjeta">
                        <div class="d-flex mt-2 justify-content-start pl-2">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center">
                                    <img id="invert" src="assets/img/ico_temp.svg" width="42" >
                                </div>
                                <div class="text_device align-self-center flex-fill pl-4">Control Temperatura</div>
                            </div>
                        </div>
                        <div class="line_div"></div>
                        <div class="pt-4 pl-2 pr-2 pb-3">
                            <div class="p-1 row pr-3 pl-3">
                                <div class="text_device_2 align-self-around flex-fill">Temp. Exterior</div>
                                <div class="align-self-end text_program_2">{{temp_exterior}}</div>
                            </div>
                            <div class="p-1 row pr-3 pl-3">
                                <div class="text_device_2 align-self-around flex-fill">Temp. Salon</div>
                                <div class="align-self-end text_program_2">{{temp_salon}}</div>
                            </div>
                            <div class="row pr-3 pl-3">
                                <div class="text_device_2 align-self-around flex-fill">Temp. entrada</div>
                                <div class="align-self-end text_program_2">{{temp_planta_baja}}</div>
                                <div class="align-self-end text_program_2">{{temp_salon_consigna}}</div>
                            </div>
                            
                            <div class="p-1 row pr-3 pl-3">
                                <div class="text_device_2 align-self-around flex-fill">Temp. Buhardilla</div>
                                <div class="align-self-end text_program_2">{{temp_buhardilla}}</div>
                                <div class="align-self-end text_program_2">{{temp_buhardilla_consigna}}</div>
                            </div>
                            
                            <div class="p-1 row pr-3 pl-3">
                                <div class="text_device_2 align-self-around flex-fill">Temp. Consigna Plt. Baja</div>
                                <div class="align-self-end text_program_2">{{temp_salon_consigna}}</div>
                            </div>
                            <div class="p-1 row pr-3 pl-3">
                                <div class="text_device_2 align-self-around flex-fill">Temp. Consigna Buhardilla</div>
                                <div class="align-self-end text_program_2">{{temp_buhardilla_consigna}}</div>
                            </div>

                            <!--div class="btn-group" mdbDropdown>
                                <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light" mdbWavesEffect>{{temp_salon_consigna}}</button>
                            
                                <div class="dropdown-menu dropdown-primary">
                                <a class="dropdown-item" href="#">17</a>
                                <a class="dropdown-item" href="#">18</a>
                                <a class="dropdown-item" href="#">19</a>
                                <a class="dropdown-item" href="#">20</a>
                                <a class="dropdown-item" href="#">21</a>
                                <a class="dropdown-item" href="#">22</a>
                                <a class="dropdown-item" href="#">23</a>
                                </div>
                            </div-->


                            <!--div class="d-inline-flex mt-1 ml-2">
                                <input type="text" id="course" name="course" class="form-control" [(ngModel)]="newCourse">
                                <button class="dropdown-item text_dropdown" (click)="changeTemp(temp)">{{temp}}</button>
                                
                            </div-->

                            <!--div class="d-inline-flex mt-1 ml-2">
                                <div ngbDropdown class="d-inline-block pr-3">
                                <button class="btn btn-primary rounded-pill dropdown_all " id="dropdown2" ngbDropdownToggle>{{temp_salon_consigna}}</button>
                                <div ngbDropdownMenu aria-labelledby="dropdown2">
                                    <button class="dropdown-item text_dropdown" *ngFor="let temp of combo_temp['_temp_number']" (click)="changeTemp(temp)">{{temp}}</button>
                                </div>
                                </div>
                            </div-->
                        </div>
                    </div>

                    <div class="tarjeta">
                        <div class="d-flex mt-2 justify-content-start pl-2">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center">
                                    <img id="invert" src="assets/img/luz.svg" width="42" >
                                </div>
                                <div class="text_device align-self-center flex-fill pl-4">Casa</div>
                            </div>
                        </div>
                        <div class="line_div"></div>
                        <form [formGroup]="controlForm1">
                            <div class="pt-3 pl-2 pr-2 pb-3">
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Buhardilla Baño</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida8" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Buhardilla Hab. 1</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida1" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Cocina</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida12" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Buhardilla Pasillo</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida13" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Habitacion</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida14" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salon</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida15" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Subir Persiana Hab.</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida16" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Colector Buhardilla</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida2" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Colector Pl. Baja</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida3" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Espejo</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida4" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Baño</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida5" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Hall</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida6" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Entrada</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida7" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Escalera</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida9" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Garaje</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida10" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Buhardilla Hab. 2</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida11" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Luz exterior</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="L_exterior" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tarjeta">
                        <div class="d-flex mt-2 justify-content-start pl-2">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center">
                                    <img id="invert" src="assets/img/valvula.svg" width="42" >
                                </div>
                                <div class="text_device align-self-center flex-fill pl-4">Valvulas</div>
                            </div>
                        </div>
                        <div class="line_div"></div>
                        <form [formGroup]="controlForm1">
                            <!--div class="box2" style="width: 250px;"-->
                            <div class="pt-3 pl-2 pr-2 pb-3">
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Valvula Cascada</div>
                                    <div class="align-self-center">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="deviceToggle4" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Valvula Suelo</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="deviceToggle5" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tarjeta">
                        <div class="d-flex mt-2 justify-content-start pl-2">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center">
                                    <img id="invert" src="assets/img/ico_cascada_iq.svg" width="42" >
                                </div>
                                <div class="text_device align-self-center flex-fill pl-4">Suelo Refrescante</div>
                            </div>
                        </div>
                        <div class="line_div"></div>
                        
                        <form [formGroup]="controlForm1">
                            <div class="pt-3 pl-2 pr-2 pb-3">
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Automatico</div>
                                    <div class="align-self-center">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="deviceToggle6" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <!--button onclick="location.href='https://g-541a59388c.grafana-workspace.eu-west-1.amazonaws.com/d/h6DTPEWnz/all_piscinas?orgId=1&from=1628306323519&to=1628349523520&viewPanel=2'" type="button">
                                </button-->
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Cascada</div>
                                    <div class="align-self-center">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="deviceToggle7" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                
                    <div class="tarjeta">
                        <div class="d-flex mt-2 justify-content-start pl-2">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center">
                                    <img id="invert" src="assets/img/cover.svg" width="42" >
                                </div>
                                <div class="text_device align-self-center flex-fill pl-4">Cobertor</div>
                            </div>
                        </div>
                        <div class="line_div"></div>
                        
                        <form [formGroup]="controlForm1">
                            <!--div class="box2" style="width: 250px;"-->
                            <div class="pb-3">
                                <div class="d-flex justify-content-around">
                                    <div class="pl-3 d-flex flex-column"> 
                                    <div class="mt-1 text_program_1">Cobertor 1</div>
                                    <button class="button_cober mt-2" (click)="subir(1)">
                                        <img src="assets/img/up-arrow.svg" style="width: 20px">
                                    </button>
                                    <button class="button_cober_stop mt-1" (click)="parar(1)">
                                        <img src="assets/img/stop-button.svg" style="width: 10px">
                                    </button>
                                    <button class="button_cober mt-1" (click)="bajar(1)">
                                        <img src="assets/img/down-arrow.svg" style="width: 20px">
                                    </button>
                                    </div>
                                
                                    <div class="pl-3 d-flex flex-column">
                                    <div class="mt-1 text_program_1">Cobertor 2</div>
                                    <button class="button_cober mt-2" (click)="subir(2)">
                                        <img src="assets/img/up-arrow.svg" style="width: 20px">
                                    </button>
                                    <button class="button_cober_stop mt-1" (click)="parar(2)">
                                        <img src="assets/img/stop-button.svg" style="width: 10px">
                                    </button>
                                    <button class="button_cober mt-1" (click)="bajar(2)">
                                        <img src="assets/img/down-arrow.svg" style="width: 20px">
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tarjeta">
                        <div class="d-flex mt-2 justify-content-start pl-2">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center">
                                    <img id="invert" src="assets/img/luz.svg" width="42" >
                                </div>
                                <div class="text_device align-self-center flex-fill pl-4">Sotano</div>
                            </div>
                        </div>
                        <div class="line_div"></div>
                        
                        <form [formGroup]="controlForm2">
                            <div class="pt-3 pl-2 pr-2 pb-3">
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Ilum. zona1</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida1" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Ilum. zona2</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida2" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Term.  Ambiente</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida3" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">cerradura</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida4" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Led Cocina</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida5" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Bomba Impulsion</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida6" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Val. Mez. Calor</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida7" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Val. Mez. Frio</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida8" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Calefaccion</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida9" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Caldera ON</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida10" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Riego zona1</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida11" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Riego zona2</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida12" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Riego zona3</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida13" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Riego zona4</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida14" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Riego zona5</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida15" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Riego zona6</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida16" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tarjeta">
                        <div class="d-flex mt-2 justify-content-start pl-2">
                            <div class="d-flex mt-2 justify-content-start pl-2">
                                <div class="align-self-center">
                                    <img id="invert" src="assets/img/luz.svg" width="42" >
                                </div>
                                <div class="text_device align-self-center flex-fill pl-4">Modulo 4</div>
                            </div>
                        </div>
                        <div class="line_div"></div>
                        
                        <form [formGroup]="controlForm3">
                            <div class="pt-3 pl-2 pr-2 pb-3">
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida1</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida1" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida2</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida2" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida3</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida3" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida4</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida4" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida5</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida5" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida6</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida6" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida7</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida7" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida8</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida8" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida9</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida9" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida10</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida10" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida11</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida11" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida12</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida12" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida13</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida13" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida14</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida14" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida15</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida15" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row pr-3 pl-3">
                                    <div class="text_device_2 align-self-center flex-fill">Salida16</div>
                                    <div class="align-self-end">
                                        <label class="switch d-flex align-items-end">
                                            <input formControlName="salida16" type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
