<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bar_nav_opa">
		<a class="navbar-brand d-flex" href="#">
			<div class="logo">
				<img src="assets/img/ico_user.svg" style="width: 35px">
			</div>
			<div class="pl-2 text_user align-self-center brand"></div>  
		</a>
    </nav>
</header>

<main role="main" class="m-3 pt-3">
    <div class="d-flex mt-2 justify-content-start pl-2">
        <div class="align-self-center">
            <img src="assets/img/energy.svg" width="42" >
        </div>
        <div class="text_device align-self-center flex-fill pl-4">Energia</div>
    </div>
    <div class="line_div"></div>
    <form [formGroup]="controlForm1">
        <div class="pl-2 pr-2 pt-4 pb-3">
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-around flex-fill">Potencia</div>
                <div class="align-self-end text_program_2">{{power}}</div>
            </div>
            <div class="p-1 row pr-3 pl-3">
                <div class="text_device_2 align-self-around flex-fill">Tension</div>
                <div class="align-self-end text_program_2">{{voltage}}</div>
            </div>
            <div class="p-1 row pr-3 pl-3">
                <div class="text_device_2 align-self-around flex-fill">Corriente</div>
                <div class="align-self-end text_program_2">{{current}}</div>
            </div>
            <div class="p-1 row pr-3 pl-3">
                <div class="text_device_2 align-self-around flex-fill">Frecuencia</div>
                <div class="align-self-end text_program_2">{{frequency}}</div>
            </div>
            <div class="p-1 row pr-3 pl-3">
                <div class="text_device_2 align-self-around flex-fill">Factor P.</div>
                <div class="align-self-end text_program_2">{{fp}}</div>
            </div>
        </div>
    </form>

    <div class="d-flex mt-2 justify-content-start pl-2">
        <div class="d-flex mt-2 justify-content-start pl-2">
            <div class="align-self-center">
                <img src="assets/img/energy.svg" width="42" >
            </div>
            <div class="text_device align-self-center flex-fill pl-4">Control Temperatura</div>
        </div>
    </div>
    <div class="line_div"></div>

    <form [formGroup]="controlForm1">
        <div class="pt-4 pl-2 pr-2 pb-3">
            <!--div class="d-flex justify-content-around"-->
				<div class="row pr-3 pl-3">
                    <div class="text_device_2 align-self-around flex-fill">Temp. entrada</div>
                    <div class="align-self-end text_program_2">{{temp_planta_baja}}</div>
                </div>
                <div class="p-1 row pr-3 pl-3">
                    <div class="text_device_2 align-self-around flex-fill">Temp. Salon</div>
                    <div class="align-self-end text_program_2">{{temp_salon}}</div>
                </div>
                <div class="p-1 row pr-3 pl-3">
                    <div class="text_device_2 align-self-around flex-fill">Temp. Buhardilla</div>
                    <div class="align-self-end text_program_2">{{temp_buhardilla}}</div>
                </div>
                <div class="p-1 row pr-3 pl-3">
                    <div class="text_device_2 align-self-around flex-fill">Temp. Exterior</div>
                    <div class="align-self-end text_program_2">{{temp_exterior}}</div>
                </div>
                <div class="p-1 row pr-3 pl-3">
                    <div class="text_device_2 align-self-around flex-fill">Temp. Consigna</div>
                    <div class="align-self-end text_program_2">{{temp_salon_consigna}}</div>
                </div>
        </div>
    </form>

    <div class="d-flex mt-2 justify-content-start pl-2">
        <div class="d-flex mt-2 justify-content-start pl-2">
            <div class="align-self-center">
                <img src="assets/img/luz.svg" width="42" >
            </div>
            <div class="text_device align-self-center flex-fill pl-4">Casa</div>
        </div>
    </div>
    <div class="line_div"></div>
    <form [formGroup]="controlForm1">
        <div class="pt-3 pl-2 pr-2 pb-3">
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Baño</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida12" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Espejo</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida13" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Habitacion</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida14" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Salon</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida15" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Buhardilla Hab. 1</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida16" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Subir Persiana Hab.</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida1" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Bajar Persiana Hab.</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida2" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Buhardilla Pasillo</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida3" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Colector Pl. Baja</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida4" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Buhardilla Baño</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida5" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Buhardilla Hab. 2</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida6" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Garaje</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida7" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Cocina</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida8" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Escalera</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida9" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Entrada</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida10" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Hall</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida11" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Luz exterior</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="L_exterior" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex mt-2 justify-content-start pl-2">
        <div class="d-flex mt-2 justify-content-start pl-2">
            <div class="align-self-center">
                <img src="assets/img/valvula.svg" width="42" >
            </div>
            <div class="text_device align-self-center flex-fill pl-4">Valvulas</div>
        </div>
    </div>
    <div class="line_div"></div>
    <form [formGroup]="controlForm1">
        <!--div class="box2" style="width: 250px;"-->
        <div class="pt-3 pl-2 pr-2 pb-3">
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Valvula Cascada</div>
                <div class="align-self-center">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="deviceToggle4" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Valvula Suelo</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="deviceToggle5" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </form>

    <div class="d-flex mt-2 justify-content-start pl-2">
        <div class="d-flex mt-2 justify-content-start pl-2">
            <div class="align-self-center">
                <img src="assets/img/ico_cascada_iq.svg" width="42" >
            </div>
            <div class="text_device align-self-center flex-fill pl-4">Suelo Refrescante</div>
        </div>
    </div>
    <div class="line_div"></div>
    
    <form [formGroup]="controlForm1">
        <div class="pt-3 pl-2 pr-2 pb-3">
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Automatico</div>
                <div class="align-self-center">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="deviceToggle6" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <!--button onclick="location.href='https://g-541a59388c.grafana-workspace.eu-west-1.amazonaws.com/d/h6DTPEWnz/all_piscinas?orgId=1&from=1628306323519&to=1628349523520&viewPanel=2'" type="button">
            </button-->
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Cascada</div>
                <div class="align-self-center">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="deviceToggle7" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </form>

    <div class="d-flex mt-2 justify-content-start pl-2">
        <div class="d-flex mt-2 justify-content-start pl-2">
            <div class="align-self-center">
                <img src="assets/img/cover.svg" width="42" >
            </div>
            <div class="text_device align-self-center flex-fill pl-4">Cobertor</div>
        </div>
    </div>
    <div class="line_div"></div>
    
    <form [formGroup]="controlForm1">
        <!--div class="box2" style="width: 250px;"-->
        <div class="pb-3">
            <div class="d-flex justify-content-around">
                <div class="pl-3 d-flex flex-column"> 
                  <div class="mt-1 text_program_1">Cobertor_1</div>
                  <button class="button_cober mt-2" (click)="subir(1)">
                    <img src="assets/img/up-arrow.svg" style="width: 20px">
                  </button>
                  <button class="button_cober_stop mt-1" (click)="parar(1)">
                    <img src="assets/img/stop-button.svg" style="width: 10px">
                  </button>
                  <button class="button_cober mt-1" (click)="bajar(1)">
                    <img src="assets/img/down-arrow.svg" style="width: 20px">
                  </button>
                </div>
              
                <div class="pl-3 d-flex flex-column">
                  <div class="mt-1 text_program_1">Cobertor_2</div>
                  <button class="button_cober mt-2" (click)="subir(2)">
                    <img src="assets/img/up-arrow.svg" style="width: 20px">
                  </button>
                  <button class="button_cober_stop mt-1" (click)="parar(2)">
                    <img src="assets/img/stop-button.svg" style="width: 10px">
                  </button>
                  <button class="button_cober mt-1" (click)="bajar(2)">
                    <img src="assets/img/down-arrow.svg" style="width: 20px">
                  </button>
                </div>
              </div>
        </div>
    </form>

    <div class="d-flex mt-2 justify-content-start pl-2">
        <div class="d-flex mt-2 justify-content-start pl-2">
            <div class="align-self-center">
                <img src="assets/img/luz.svg" width="42" >
            </div>
            <div class="text_device align-self-center flex-fill pl-4">Sotano</div>
        </div>
    </div>
    <div class="line_div"></div>
    
    <form [formGroup]="controlForm2">
        <div class="pt-3 pl-2 pr-2 pb-3">
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Ilum. zona1</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida1" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Ilum. zona2</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida2" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Term. Ambiente</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida3" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">cerradura</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida4" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Led Cocina</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida5" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Bomba Impulsion</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida6" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Val. Mez. Calor</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida7" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Val. Mez. Frio</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida8" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Calefaccion</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida9" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Caldera ON</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida10" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Riego zona1</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida11" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Riego zona2</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida12" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Riego zona3</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida13" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Riego zona4</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida14" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Riego zona5</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida15" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="row pr-3 pl-3">
                <div class="text_device_2 align-self-center flex-fill">Riego zona6</div>
                <div class="align-self-end">
                    <label class="switch d-flex align-items-end">
                        <input formControlName="salida16" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </form>

    
</main>

